<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            #main{
                color:blue;
                margin:auto;
                text-align: center;  
                margin-top:25%;
            }

            body{

                 background-image: url("https://t3.ftcdn.net/jpg/04/74/60/50/360_F_474605032_InQXCehGHhXOc2j07cMZ2Dqrok6d3tVk.jpg")
            }

        </style>
    </head>
    <body>
        <div id="main">
            <form method="POST" action="/">
           <h1> Dear Candidate your math score is {{ results }} </h1>
            </form>
        </div>

</body>
    </body>
</html>